// 颜色定义规范
$color-background: #fff;
$color-text: #373a3c;
$color-text-l: #c0c9d5;
$color-text-ll: #EBEBEB;
$color-text-table: #657180;
//sidebar
$menuBg:#364150;
$menu-text:#c0c9d5;
$menu-text_hover:#ffffff;
$menuHover:#4a94fa;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;

